wp-admin/
wp-includes/
wp-content/languages
wp-content/plugins
wp-content/upgrade
wp-content/uploads
wp-content/themes/twentytwenty

index.php
license.txt
readme.html
wp-activate.php
wp-login.php
wp-load.php
wp-comments-post.php
wp-login.php
wp-config.php
wp-cron.php
wp-config-sample.php
wp-common.php
wp-links.php
wp-links-opml.php
wp-blog-header.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php